<style>
    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">New Category</h4>
    </div>
    <div class="modal-body">
        <div class="input-field">
            <label for="data.code">Code</label>
            <input ng-model="data.code" type="text" class="validate" id="form-name" placeholder="Code..." />
        </div>
        <div class="input-field">
            <label for="data.description">Description</label>
            <input ng-model="data.description" type="text" class="validate" id="form-name" placeholder="Description..." />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
    </div>
</div>
