<style>
    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Edit Job Status</h4>
    </div>
    <div class="modal-body">
        <div class="input-field">
            <label for="data.job_status_description">Description</label>
            <input ng-model="data.job_status_description" type="text" class="validate" id="form-name" placeholder="Description..." />
        </div>
        <div class="input-field">
            <label for="data.job_status_template_page">Code</label>
            <input ng-model="data.job_status_template_page" type="text" class="validate" id="form-name" placeholder="Template..." />
        </div>
        <div class="input-field">
            <label for="data.is_manual_action">Manual Action</label>
            <input id="data.is_manual_action" type="checkbox" class="validate form-control" ng-checked="data.job_status_manual_action == 1" ng-true-value="1" ng-false-value="0" ng-click="isManualAction()" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
    </div>
</div>
