<style>
    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">New Site</h4>
    </div>
    <div class="modal-body">
        <div class="input-field">
            <label for="data.site_customer_id">Customer</label>
            <select ng-model="data.site_customer_id">
                <option ng-repeat="c in data.customers" value="{{c.customer_id}}">{{c.customer_name}}</option>
            </select>
        </div>
        <div class="input-field">
            <label for="data.site_name">Site Name</label>
            <input ng-model="data.site_name" type="text" class="validate form-control" placeholder="Site Name..."/>
        </div>
        <div class="input-field">
            <label for="data.site_shortname">Short Name</label>
            <input ng-model="data.site_shortname" type="text" class="validate form-control" placeholder="Short..." />
        </div>
        <div class="input-field">
            <label for="data.site_address1">Address Line 1</label>
            <input ng-model="data.site_address1" type="text" class="validate form-control" placeholder="Line 1..." />
        </div>
        <div class="input-field">
            <label for="data.site_address2">Address Line 2</label>
            <input ng-model="data.site_address2" type="text" class="validate form-control" placeholder="Line 2..." />
        </div>
        <div class="input-field">
            <label for="data.site_city">City</label>
            <input ng-model="data.site_city" type="text" class="validate form-control" placeholder="City..." />
        </div>
        <div class="input-field">
            <label for="data.site_county">County</label>
            <input ng-model="data.site_county" type="text" class="validate form-control" placeholder="Country..." />
        </div>
        <div class="input-field">
            <label for="data.site_postcode">Postcode</label>
            <input ng-model="data.site_postcode" type="text" class="validate form-control" placeholder="Postcode..." />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
    </div>
</div>
